.home-wrapper {
    display: grid;
    
    height: 300px;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 2em;
    
}

.home-content, .charts {
    border-radius: 20px;
    background-color: #ededed;
    font-family: Helvetica, Arial;
    color: #7c7c7c;
}


.nested {
    display: grid;
    grid-template-rows: 3fr;
    gap: 2em;
}

.container {
    display: flex;
    align-content: center;


}

.charts {
    grid-column: 1/3;
    /* border: 3px solid red; */
}

.arrow {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #707070;
    display: inline-block;
    margin-left: 120px;
    
  }

  .home-content, .charts {
      padding: 8px;
  }