.app-logo {
    width: 420px;
    height: auto;
    margin-top: -120px !important;
}

.welcome-btn{ 
    margin-top: -120px !important;
}

.main-form {
    display: flex;
    flex-direction: column;

}
.main-form > input {
    border-radius: 25px;
    border: 3px solid #60ACA5;
    height: 30px;
    width: 220px;
    margin: 10px 0 15px 0;
    padding: 8px 8px;
    
}

/* ::placeholder:focus{
    color: red;
} */

.main-form > input:focus {
    border-radius: 25px;
    border: 3px solid #707070;
    
}

*:focus {
    outline: none;
}

.main-content {
    /* display: none; */
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('../images/city-bg.svg') no-repeat;
    background-size:contain;
    background-position: bottom;
    background: cover;
    background-size: 120%;
    /* margin-bottom: -300px; */
}

.left, .right {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pig-img {
    width: 320px;
    height: auto;
    position: absolute;
    bottom: 1px;
    left: 25px;
}

