.app-logo {
    width: 420px;
    height: auto;
    margin-top: -120px !important;
}

.welcome-btn{ 
    margin-top: -120px;
}

.main-form {
    display: flex;
    flex-direction: column;
}

.main-content {
    /* display: none; */
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('../images/city-bg.svg') no-repeat;
    background-size:contain;
    background-position: bottom;
    background: cover;
    background-size: 120%;
    /* margin-bottom: -300px; */
}

.left, .right {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pig-img {
    width: 320px;
    height: auto;
    position: absolute;
    bottom: 1px;
    left: 25px;
}

