h3, h4 {
    margin-bottom: 0px !important;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 10% 90%;
    grid-template-areas:
        "header header"
        "nav body";
}

header {
    margin: 0px;
    background-color: #ededed;
    grid-area: header;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas:
        "nav budget-amount"
}

header nav {
    display: flex;
    grid-area: nav;
}

#logo {
    padding-left: 10px;
    margin-right: 40px;
}

#dropdown-item:hover {
    background-color: #98d8d3;
}

#manage-budget, #manage-category, #user-setting {
    align-self: center;
    margin-right: 50px;
}

#budget-amount {
    grid-area: budget-amount;
    align-self: center;
    padding-right: 20px
}

#amount {
    color: #32B2A7;
}

aside {
    background-color: #ededed;
    grid-area: nav;
    justify-content: space-evenly;
}

aside div {
    height: 75px;
}

body {
    background-image: url(../images/city-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

#home {
    grid-area: body;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 6% 7% 40% 7% 40%;
    grid-template-areas:
        "welcome welcome"
        "recent-transaction recent-transaction"
        "income expense"
        "overview overview"
        "income-chart expense-chart";
    align-items: center;
}

#home-welcome {
    grid-area: welcome;
}

#home-recent-transaction {
    grid-area: recent-transaction;
}

#home-income {
    grid-area: income;
    align-self: start;
}

#home-expense {
    grid-area: expense;
    align-self: start;
}

#home-overview {
    grid-area: overview;
}

#home-income-barchart {
    grid-area: income-chart;
    align-self: start;
}

#home-expense-barchart {
    grid-area: expense-chart;
    align-self: start;
}

#transactions th {
    text-align: left;
    background-color: #32B2A7;
    color: white;
  }

#transactions tr:nth-child(even) {
    background-color: #f2f2f2;
}

#transactions tr:hover {
    background-color: #98d8d3;
}

#transactions td, #transactions th {
    border: 1px solid #ddd;
    padding: 6px;
}

#transactions td {
    color: #969696;
}

#transaction-category {
    width:100px;
}

#transaction-description {
    width:200px;
}

#transaction-amount {
    width: min-content;
}

#transaction-action {
    width:110px;
}

#dashboard {
    display: grid;
    /* justify-items: center; */
    align-items: center;
    grid-template-rows: 7% 40% 7% 40% 6%;
    grid-template-columns: 50% 30% 20%;
    grid-template-areas:
        "income-title income-title filter-title"
        "income-line-chart income-pie-chart filter"
        "expense-title expense-title filter"
        "expense-line-chart expense-pie-chart filter"
        "footer footer footer";
}

#income-title {
    grid-area: income-title;
}

#expense-title {
    grid-area: expense-title;
}

#income-line-chart {
    padding-left: 25px;
    grid-area: income-line-chart;
}

#income-pie-chart {
    grid-area: income-pie-chart;
}

#expense-line-chart {
    padding-left: 25px;
    grid-area: expense-line-chart;
}

#expense-pie-chart {
    grid-area: expense-pie-chart;
}

#year-filters-container, #month-filters-container {
    grid-area: filter;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-flow: row;
}

#dashboard-filters {
    align-self: start;
    margin-left: 20px;
    background: #ededed;
    box-sizing: border-box;
    padding: 10px 0;
    margin-right: 20px;
    border-radius: 5px;
}

#dashboard-filters-title {
    margin-left: 20px;
}

.transaction-page {
    display: grid;
    align-items: center;
    grid-template-rows: 7% 87% 6%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "title form-title"
        "transactions form"
}

.transaction-page-title {
    grid-area: title;
}

.transactions {
    grid-area: transactions;
    align-self: start;
    padding-left: 25px;
}

.transaction-form {
    height: 50%;
    grid-area: form;
    align-self: start;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 60%;
    grid-template-areas:
        "transaction-form-category"
        "transaction-form-description"
        "transaction-form-date"
        "transaction-form-amount"
        "transaction-form-submit";
}


.transaction-form input {
    border: 1px solid #969696;
    height: 30px;
    color: #969696;
}

.transaction-form input:focus {
    border: none !important;
    outline: 2px solid #32B2A7 !important;
}

select {
    color: #969696;
    height: 30px;
    border: 1px solid #969696;
}

select:focus {
    border: none !important;
    outline: 2px solid #32B2A7 !important;
}

#transaction-form-category, #transaction-form-description, #transaction-form-date, #transaction-form-amount {
    align-items: center;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 30% 70%;
}

#transaction-form-category {
    grid-area: transaction-form-category;
    grid-template-areas:
        "label-category field-category";
}

#transaction-form-description {
    grid-area: transaction-form-description;
    grid-template-areas:
        "label-description field-description";
}

#transaction-form-date {
    grid-area: transaction-form-date;
    grid-template-areas:
        "label-date field-date";
}

#transaction-form-amount {
    grid-area: transaction-form-amount;
    grid-template-areas:
        "label-amount field-amount";
}

#label-category {
    grid-area: label-category;
}

#label-description {
    grid-area: label-description;
}

#label-date {
    grid-area: label-date;
}

#label-amount {
    grid-area: label-amount;
}

#field-category {
    grid-area: field-category;
}

#field-description {
    grid-area: field-description;
}

#field-date {
    grid-area: field-date;
}

#field-amount {
    grid-area: field-amount;
}

#transaction-form-submit-btn {
    background-color: #32B2A7;
    color: white;
    border: none;
    padding: 0 20px;
}

.box-shadow {
    box-shadow: #32B2A7 !important;
}

.green-theme {
    color: white;
    background-color: #32B2A7;
    border: none;
}

.grey-theme {
    color: white;
    background-color: #6B6B6B;
    border: none;
}
