* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ededed;
    width: 100%;
    height: 136px;
    display: flex;
    align-items: center;
}



.main-nav {
    display: flex;
    background-color: #ededed;
    width: 80px;
    height: 100%;
    z-index: 1; 
}

.main-content {
    padding-left: 120px;
}


.welcome-btn {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

button {
    text-align: center !important;
    background-color: #32B2A7;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    height: 48px;
    width: 220px;
    line-height: 48px;
    text-transform: uppercase;
    border: 2px solid #32b2a7;
    text-align: center;
    font-size: 22px;
    margin-bottom: 12px;
   
}

button:hover {
    background-color: #fff;
    border: 2px solid #32b2a7;
    color: #32B2A7;
}

h1, h2, p {
    font-family: Helvetica, Arial;
    color: #7c7c7c;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

