* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ededed;
    width: 100%;
    height: 136px;
    display: flex;
    align-items: center;
}

.app-logo {
    width: 220px;
    height: auto;
    
}

.main-nav {
    display: flex;
    background-color: #ededed;
    width: 80px;
    height: 100%;
    z-index: 1;
    
}

.main-content {
    padding-left: 120px;
}

h2 {
    color: #7c7c7c;
}

.welcome-btn {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

button {
    text-align: center !important;
    background-color: #32B2A7;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    height: 58px;
    width: 220px;
    line-height: 58px;
    text-transform: uppercase;
    border: 2px solid #32b2a7;
    text-align: center;
    font-size: 22px;
    margin-bottom: 12px;
   
}

button:hover {
    background-color: #fff;
    border: 2px solid #32b2a7;
    color: #32B2A7;
}