* {
    margin: 0;
    padding: 0;
}

.App {
    font-family: Helvetica, Arial;
    display: grid;
    height: 100vh;
    grid-template-columns: .3fr 1fr 1fr .5fr;
    grid-template-rows: .5fr .5fr 1fr 1fr;
    grid-template-areas: 
        "header header header header"
        "nav title title title"
        "nav income expenses sub-menu"
        "nav charts charts sub-menu"
    ;
}

.title {
    color: #32B2A7;
}


.welcome {
    grid-area: title;
}

.welcome-msg {
    padding-bottom: 0;
}

.link {
    text-decoration: none;
}

/* HEADER */

header {
    background-color: #ededed;
    width: 100%;
    height: 136px;
    /* display: flex;
    align-items: center; */
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MAIN NAVIGATION */

nav {
    grid-area: nav;
    background-color: #ededed;
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  
    align-content: center;
    align-items: center;
}



li {
    padding-bottom: 42px;
}

.nav-icon {
    height: 62px;
    width: auto;
    /* margin-bottom: 12px; */
}

ul {
    list-style: none;
   
}

/* HOME PAGE SUB-MENU */

.sub-menu {
    grid-area: sub-menu;
    color: #32B2A7;
}

.recent-expense {
    padding: 12px;
    background-color: #ededed;
    border-radius: 25px;
}

.recent-expense-container {
    grid-area: expenses;
}

.recent-income-container {
    grid-area: income;
}

.grid-column {
    padding-left: 12px;
}

.recent-income {
    padding: 12px;
    background-color: #ededed;
    border-radius: 25px;
}


.charts {
    grid-area: charts;
}

/* BAR CHART */
.barChart {
    background-color: #ededed;
    border-radius: 25px;
    padding: 12px;
}

/* TRANSACTIONS */

.transaciton-list {
    background-color: #ededed;
    padding: 6px;
    border-radius: 25px;
}

.transaction {
    width: 100%;
    display: table;
    padding: 6px !important;
    table-layout: fixed;
}

.tr {
    display: table-row;
}

.show-transactions {
    word-wrap: break-word;
    /* border: 1px solid green; */
    display: table-cell;
    width: 60px;
}

.transactions-btn {
    position: absolute;
    right: 0;
    width: 50px;
}

#crud-btns{
    width: 50px;
    /* display: flex;
    flex-direction: column; */
}


.welcome-btn {
    /* margin: auto; 
    display: flex;
    flex-direction: column;
    margin-top: 15px; */
}

/* FONT STYLING */ 
.budget {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#budget-amount {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #32B2A7;
}

.transaction-type{
    padding-left: 12px;
}

h1, h2, h3, h4,p {
    font-family: Helvetica, Arial;
    color: #7c7c7c;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
}

h2 {
    padding: 12px 0;
}

/*
.main-btn {
    text-align: center !important;
    background-color: #32B2A7;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    height: 48px;
    width: 220px;
    line-height: 48px;
    text-transform: uppercase;
    border: 2px solid #32b2a7;
    text-align: center;
    font-size: 22px;
    margin-bottom: 12px;
   
}

.main-btn:hover {
    background-color: #fff;
    border: 2px solid #32b2a7;
    color: #32B2A7;
}


*/ 
.transaction-form > input{
    border-radius: 25px;
    background-color: #EDEDED;
    border: 3px solid #ededed;
    height: 24px;
    width: 180px;
    margin: 10px 0 15px 0;
    padding: 4px 4px;
    
}
/* 
::placeholder:focus{
    color: red; 
}

*/

.transaction-form > input[type=submit] {
    color:#fff; 
    background-color: #32B2A8;
    border: 0px;
    cursor: pointer;
    border: 2px solid;
    height: 34px;

}

#submit-btn:hover {
    color:#0c9186; 
    background-color: #fff;
    border: 0px;
    border: 2px solid #32B2A8;

}
input:focus {
    border-radius: 25px;
    border: 2px solid #32b2a7;
    
}

.content-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.display-transactions {
    background-color: #ededed;
    border-radius: 25px;
    height: 400px;
}

