h3, h4 {
    margin-bottom: 0px !important;
}

header {
    margin: 0px;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-rows: 12% 88%;
    grid-template-columns: 7% 93%;
    grid-template-areas:
        "header header"
        "nav body";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 15% 10% 10% 10% 10% 45%;
    grid-template-areas:
        "logo manage-budget manage-category user-setting x budget-amount"
}

#logo {
    grid-area: logo;
    align-self: center;
}

#manage-budget {
    grid-area: manage-budget;
    align-self: center;
}

#manage-category {
    grid-area: manage-category;
    align-self: center;
}

#user-setting {
    grid-area: user-setting;
    align-self: center;
    padding-left: 25px;
}

#budget-amount {
    grid-area: budget-amount;
    align-self: center;
    padding-right: 30px
}

#amount {
    color: #32B2A7;
}

nav {
    grid-area: nav;
}

body {
    background-image: url(../images/city-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

#home {
    grid-area: body;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 7% 8% 33% 8% 44%;
    grid-template-areas:
        "welcome welcome"
        "recent-transaction recent-transaction"
        "income expense"
        "overview overview"
        "income-chart expense-chart";
    align-items: center;
}

#home-welcome {
    grid-area: welcome;
}

#home-recent-transaction {
    grid-area: recent-transaction;
}

#home-income {
    grid-area: income;
    align-self: start;
}

#home-expense {
    grid-area: expense;
    align-self: start;
}

#home-overview {
    grid-area: overview;
}

#home-income-barchart {
    grid-area: income-chart;
}

#home-expense-barchart {
    grid-area: expense-chart;
}

#transactions th {
    text-align: left;
    background-color: #32B2A7;
    color: white;
  }

#transactions tr:nth-child(even) {
     background-color: #f2f2f2;
}

#transactions tr:hover {
    background-color: #98d8d3;
}

#transactions td, #transactions th {
    border: 1px solid #ddd;
    padding: 6px;
}

#transactions td {
    color: #7c7c7c;
}

#transaction-category {
    width:120px;
}

#transaction-description {
    width:250px;
}

#transaction-amount {
    width:120px;
}

#transaction-action {
    width:110px;
}